h1 {
    color: green;
    font-size: 50px;
    border: red groove;
    text-align: center;
    margin: 60px;
    padding: 40px
}

h3{
    font-family: 'Trebuchet MS';
    text-decoration: underline;
}

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO6ycOg2A-Rmzqogi8dUSK8_kVEfsk2z4uhg&usqp=CAU");
    background-attachment: scroll;
   
}
